label{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:oblique;
	color:rgb(194,40,117);
}
#res{
	color:green;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-style:italic;
}
.q1{
	height:auto;
	background-color:azure;
	border-radius:20px;
	border:2px solid blue;
	padding:30px 30px;
	margin-top:30px;
}